<!DOCTYPE html>
<html>
<head>
    <title>Product Detail</title>
</head>
<body>
    <h1>@Model.Name</h1>
    <img width="200" src="@Model.ImageUrl" alt="@Model.Name" />
    <p>Price: @Model.Price.ToString("C")</p>
    <p>Detail: @Model.Detail</p>
</body>
</html>